/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F0E1B9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.editform {
    background-color: #A13941FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #F3DB74FF;
}

label
{
    color: #F3DB74FF;
}

.editbox {
    margin-bottom: 15px;
    text-align: left;
}

.editbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #A13941FF;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.savebtn {
    width: 100%;
    padding: 10px;
    background-color: #F3DB74FF;
    color: #A13941FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.savebtn:hover {
    background-color: #505050;
}

.back {
    margin-top: 20px;
}

.backbtn {
    width: 100%;
    padding: 10px;
    background-color: #F3DB74FF;
    color: #A13941FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backbtn:hover {
    background-color:rgba(243, 220, 116, 0.816);
}

.change {
    margin-top: 20px;
}

.changebtn {
    width: 100%;
    padding: 10px;
    background-color: #F3DB74FF;
    color: #A13941FF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.changebtn:hover {
    background-color: rgba(243, 220, 116, 0.816);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the circle */
    border: 2px solid #ddd; /* Optional: adds a border around the circle */
}
